.container {
    background-color: 	#E0E0E0;
    height: 100vh;
    width: 100vw;

}

.header {
    height: 50px;
    max-height: 50px;
    background: #318CE7;

    .heading {
    margin-top: 14px;
    position: absolute;
    font-size: 22px;
    color: #ffffff;
    margin-left: 49px;
    }

    .icon {
    position: absolute;
    font-size: 24px;
    margin-left: 94%;
    margin-top: 13px;
    color: #ffffff;
    }
}

.box {
    display: flex;
    background-color: #ffffff;
    width: 98vw;
    margin-left: 13px;
    border-radius: 3px;
    margin-bottom: 10px;

    .box1 {
        margin-left: 10%;
    }

    .dropdown {
        margin-top: 11px;
        height: 46px;
        background: #E0E0E0;
    }
}


    .values {
        color: red;
        font-weight: bold;
        margin-top: 28px;
        margin-left: 10px;
    }
